<ion-header>
  <page-toolbar [login]="'login'"></page-toolbar>
</ion-header>


<ion-content padding="true">
  <ion-list>
    <ion-item>
      <ion-label floating>
        Email
      </ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>

      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye-off"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <button ion-button block color="unisalento" (click)="submit()">Sing In</button>
</ion-content>
