<ion-toolbar color="unisalento">
  <ion-title>
    UniSalento
  </ion-title>

  <button ion-button menuToggle *ngIf="login == null">
    <ion-icon name="menu"></ion-icon>
  </button>

</ion-toolbar>

<ion-content color="unisalento">
  <ion-list color="unisalento">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
